extends layout

block cssLinks
    link(rel='stylesheet', href='/stylesheets/chat.css')

block content
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/javascripts/chat-client.js')
    h1= title
    p Welcome to the chat application #{user.localUser.username}

    div#chatContainer

        div#chatbox

        form#chatForm
            input#messageInput(type="text")
            button#messageButton(type="submit") Post

    div#userContainer