extends layout

block cssLinks
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css')

block content
  h1= title

  div
    h2= "Please sign in or register to join the chat!"

    button#login(class='pure-button pure-button-primary', onclick='window.location="/login";') Login
    button#signup(class='pure-button', onclick='window.location="/signup";') Signup
