extends layout

block content
  h1= title

  div
    h2= "Please sign in or register to join the chat!"

    button#login(onclick='window.location="/login";') Login
    button#signup(onclick='window.location="/signup";') Signup
