extends layout

block content
    script(src='http://code.jquery.com/jquery-2.1.1.min.js')
    h1= title

    div
        h2= "Please log in with your username and password"

        unless message.length <= 0
            div#errorMessageDiv #{message}

        form#loginForm(action='/login',method='POST')
            label(for="username") Username
            input#username(type="text" name="username" maxlength="24")
            label(for="password") Password
            input#password(type="password" name="password" maxlength="128")
            button#loginButton(type="submit") Login