div#chatContainer {
    height: 80%;
    min-height: 80%;
    width: 30em;
    float: left;
}

div#chatbox {
    height: 90%;
    border-color: black;
    border-width: 3px;
    border-style: outset;
    overflow-y: auto;
    text-align: center;
}

#chatForm > input[type=text] {
    border: 3px solid gray; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 10px 0 10px 0;
    width: 75%;
}

#chatForm > button[type=submit] {
    padding: 5px;
}

div#userContainer {
    height: 75%;
    width: 15em;
    margin-left: 2em;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    overflow-y: auto;
    float: left;
}

div#chatbox > p {
    border-radius: 5px;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-left: 1em;
    margin-right: 1em; 
    margin-top: 0.25em;
    margin-bottom: 0.25em;  
    text-align: left;
    clear: both;
}

div#chatbox > p.ext-message {
    background-color: rgba(12, 217, 91, 0.4);
    float: left;
}

div#chatbox > p.my-message {
    background-color: rgba(12, 91, 271, 0.4);
    float: right;
}

div#chatbox > p.sys-message {
    background-color: rgba(250, 128, 114, 0.6);
    text-align: center;
    display: block;
    opacity: 0.5;
}

p.username {
    float: left;
    clear: both;
    margin-left: 0.25em;
}